$light-gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
$dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);


main{
    min-height: 100vh;

}

.main-holder{
    width: 70%;
    margin: auto;
    padding: 25px;

    @media screen and (max-width:900px) {
        width: 95%;
    }


    @media screen and (max-width:1400px) {
        width: 80%;
    }

    @media screen and (max-width:650px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.dark-mode{
    color: white;
    background: $dark-gradient;
}

.light-mode{
    color: hsl(227, 75%, 14%);
    background: $light-gradient;
}